<section class="recipe-list">
  <% @all_recipes.each do |recipe| %>
  <div class="one-recipe row">
    <div class= "search-image small 5-columns large 3-columns"> <%= image_tag(recipe.image) %> </div>
    <p class="title"><%= link_to "#{recipe.title}", show_recipe_path(recipe.title, uri: recipe.uri) %></p>
    </script>
  </div>
  <% end %>
</section>

<section class="pages">
  <% if @page != 1 %>
  <%= link_to "previous", search_results_path(:ingredients => @keywords, :page => @page - 1), method: :get %>
  <% end %>
  <%= link_to "New Search", root_path %>
  <% if @all_recipes.count > 0 || @all_recipes.count < 9 %>
  <%= link_to "next",  search_results_path(:ingredients => @keywords, :page => @page + 1), method: :get %>
  <% end %>
</section>
