<div class="more-padding">
  <header>
    <%= link_to root_path do %>
      <h1 class="search-style black font">Munchies</h1>
    <% end %>
  </header>

  <section>
    <%= form_tag('/recipes', method: :get) do %>
      <%= text_field_tag(:q, nil, placeholder: 'Find your recipes here!') %>
      <%= submit_tag("nom nom", class:"button") %>
    <% end %>

    <%############ FLASH ############ %>

    <% if flash[:status].present? %>
      <p class="<%= flash[:status] %>"><%= flash[:message] %></p>
    <% end %>
  </section>
</div>
