<div class="columns small-12 small-centered inline">
  <h1 id="menu"><%= link_to '"MENU"', root_path %></h1>
</div>
<nav class="columns small-12 small-centered inline">
    <p class="inline-li hover-nav">
      <%= link_to "#" do %>
        <span class="vegetarian"><span>ベジタリアン</span></span>
      <% end %>

      <%= link_to "#" do %>
        <span class="beef"><span>ビーフ</span></span>
      <% end %>

      <%= link_to "#" do %>
        <span class="pork"><span>ポーク</span></span>
      <% end %>

      <%= link_to "#" do %>
        <span class="chicken"><span>チキン</span></span>
      <% end %>

      <%= link_to "#" do %>
        <span class="fish"><span>さかな</span></span>
      <% end %>
    </p>
</nav>
