<section class="columns small-12" id="search_header">

<h3>Search Results for <%= params[:search].titleize %></h3>
</section>
<section class="row pagination">
  <%= will_paginate @recipes %>
</section>

<ul class="row" >
  <% @recipes.each do |recipe| %>
  <li class="columns small-12 medium-6 large-3 end">
    <%= image_tag recipe.image, class: "recipe-image" %>
    <%= link_to recipe.name, recipes_show_path(recipe.name, uri: recipe.uri), alt: "link to a given recipe", class: "recipe-name" %>
  </li>
  <% end %>

</ul>

<section class="row pagination">
  <%= will_paginate @recipes %>
</section>

</section>
