<%= render partial: "flash",locals: {action_name: "show-index-flash"}%>

<%# if flash[:status] %>
  <!-- <div class="show-index-flash"> -->
    <%#= flash[:message] %>
  <!-- </div> -->
<%# end %>

<section class="index-page wrapper">
  <div class="main-page-link">
    <%= link_to "Back to Main page", root_path %>
  </div>

  <h3>RECIPES FOR YOUR SEARCH: "<%= @search %>" </h3>

  <section class="row">
    <% @recipes.each do |recipe| %>
      <div class="index-images small-12 medium-6 large-3 columns">
        <%# uri_initial = "#{recipe.uri}" %>
        <%# uri = uri_initial.gsub(/%2F/, "/") %>
        <% uri_id = recipe.uri_id %>
        <%# uri_id = recipe.ingredients_text %>
        <%=link_to recipe_path(uri_id) do %>
          <%= image_tag(recipe.image, alt:recipe.label) %>
        <% end %>
        <div class="index-image-link">
          <%= link_to recipe.label, recipe_path(uri_id, search_term: @search) %>
        </div>
        <%#= image_tag(recipe.image, alt:recipe.label) %>
      </div>
    <% end %>

  </section>
  <%= will_paginate @recipes %>
</section>
