<!-- <div class="background-image"> -->


<h1>Welcome to Muncher</h1>

<%= form_tag(root_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, @search, placeholder: "Search Recipes" %>
  <%= submit_tag "Search" %>
<% end %>

<div class="recipe-show">

<% if !@recipes.nil? %>
  <div class="list-products row small-up-1 medium-up-2 large-up-4">
    <% @recipes.each do |recipe| %>
      <div class="column">
        <ul>
          <li><%= link_to image_tag(recipe.image), recipes_path(id: recipe.id) %></li>
          <li><%= recipe.name %></li>
        </ul>
      </div>
    <%end %>
  </div>

  <div class="pagination">
    <% if @from > 10 %>
      <%= link_to "Previous Page", root_path(search: @search, from: @previous_from), class: "button" %>
    <% end %>

    <%= link_to "Next Page", root_path(search: @search, from: @from), class: "button" %>
  </div>
<% end %>
</div>
