<h2>Find your flavor...</h2>
<%= form_tag results_path, method: "get" do %>
  <%= label_tag(:q, "Search for food") %>
  <%= text_field_tag(:q) %>
  <%= hidden_field_tag 'from', 0 %>
  <%= hidden_field_tag 'to', 10 %>
  <%= submit_tag("Search") %>
<% end %>
