<section class="index-page wrapper">
  <%#= link_to "Back to Search page", root_path %>
  <h3>RECIPES FOR YOUR SEARCH: "<%= @search %>" </h3>

  <section class="row">
    <% @recipes.each do |recipe| %>
      <div class="small-12 medium-6 large-3 columns">
        <%# uri_initial = "#{recipe.uri}" %>
        <%# uri = uri_initial.gsub(/%2F/, "/") %>
        <% uri_id = recipe.uri_id %>
        <%# uri_id = recipe.ingredients_text %>
        <%=link_to recipe_path(uri_id) do %>
          <%= image_tag(recipe.image, alt:recipe.label) %>
        <% end %>
        <%= link_to recipe.label, recipe_path(uri_id) %>
        <%#= image_tag(recipe.image, alt:recipe.label) %>
      </div>
    <% end %>

  </section>
  <%= will_paginate @recipes %>
</section>
