
<div class="row">
<section class="search_bar_2 column center large-12 small-12">
  <h2>ReciPEACE</h2>
  <%= form_tag(recipes_path, method: :get) do %>
  <%=text_field_tag :search %>
  <%=submit_tag "search", class:"button column small-12 float-right"%>
  <% end %>
</section>
</div>


<section class="all_results row large-12">
<ol>
  <% @recipes.each do |recipe| %>
  <article class="list_result column float-left large-4">
  <li>
    <ul>
      <li>
        <%= image_tag recipe.image, alt:"#{recipe.name} image" %>
      </li>
      <li class="recipe_title">
        <%= link_to recipe.name, recipe_path(recipe.name, uri: recipe.uri) %>
      </li>
    </ul>
    </article>
    <% end %>
  </li>
</ol>
</section>

<div class="row"%>
<%= will_paginate @recipes, class:"pages float-right" %>
</div>
