<section class="recipe-list">
  <h3>Recipe</h3>

    <%= form_tag(root_path, method: :get) do %>
      <%= label_tag(:query, "Search for:") %>
      <%= text_field_tag(:query) %>
      <%= submit_tag("Search") %>
    <% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <p><%= link_to recipe.name, recipe_path(recipe.uri) %></p>    
    <%= image_tag recipe.image %>
  <% end %>
</ul>

</section>
