<h1>Muncher</h1>

<%= render partial: "form" %>

<% if @recipes != nil %>
    <h2>Recipe Results for <%= params[:search] %></h2>
    <ul>
      <% @recipes.each do |recipe| %>
      <li>
        <%= image_tag recipe.image %>
        <%= link_to recipe.label, recipe_path(recipe.label, uri: recipe.uri) %>
      </li>
      <% end %>
    </ul>

    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @recipes%>
      </div>
      <%= will_paginate @recipes, :container => false %>
    </div>

<% end %>
