<section class="recipes-list">
  <h1>Recipe List</h1>
  <%= form_tag(recipes_path, :method => "get" ) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search More Recipes" %>
      <%= submit_tag ("Search") %>
  <% end %>
  <ul>
    <% @results_page.each do |recipe| %>
      <li>
        <%= image_tag recipe.image, alt: "foods" %></li>
        <li>
          <%= link_to recipe.label, recipe_show_path(recipe.label, uri: recipe.uri) %>
      </li>
    <% end %>
  </ul>

    <%= will_paginate @results_page %>


</section>
