<section class="recipe-list">
  <h3>Recipe</h3>

    <%= form_tag(root_path, method: :get) do %>
      <%= label_tag(:query, "Search for:") %>
      <%= text_field_tag(:query) %>
      <%= submit_tag("Search") %>
    <% end %>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, recipe_path(recipe) %>

     <img src="<%= recipe.image_url %>" alt="">
    </li>
  <% end %>
</ul>

</section>
