<h1>Results for <%=params[:search]%></h1>
<ul>
  <% @recipes.each do |recipe| %>
  <li>
    <h2><%=link_to recipe.label, recipe_path() + "?search=#{params[:search]}" + "&url=#{URI.encode(recipe.url)}" %></h2>
    <img src="<%=recipe.image%>" alt="<%=recipe.label%>"
  </li>
  <% end %>
</ul>

<%= will_paginate(@recipes) %>
