<main>
  <header class="row border">
    <section class="small-12 small-centered medium-8 medium-centered large-6 large-centered columns border-bottom">

      <div class="search-padding">
        <header>
          <h2 class="mid-font">Munchies</h2>
        </header>

        <section>
          <%= form_tag('/recipes', method: :get) do %>
            <%= text_field_tag(:q, nil, placeholder: 'Search for recipes here!', class:"round-border") %>
            <%= submit_tag("Munchie!", class:"button round-border") %>
          <% end %>
        </section>
      </div>

    </section>
  </header>

  <section>
    <header>
      <h2 class="mid-font">RESULTS FOR: <%= @search_request %></h2>
    </header>

    <div class="row align-content">
      <% if @recipes %>
        <% @recipes.each do |recipe| %>
          <div class="small-12 small-centered medium-6 medium-centered large-4 large-centered columns thumbnail same-width end">
            <%= link_to recipe_path(recipe.uri_id) do %>
              <%= image_tag(recipe.image_url, class:"border") %>
            <% end %>
            <p>
              <%= recipe.label %>
            </p>
          </div>
        <% end %>

      <% else %>

        <div>
          <h1>There are no recipe hits for your request!</h1>
        </div>

      <% end %>
    </div>

    <%= will_paginate @recipes %>


  </section>
</main>
