<main>
  <header class="row">
    <section class="small-12 small-centered medium-8 medium-centered large-6 large-centered columns border-bottom">

      <div class="search-padding">
        <header>
          <h2 class="font">Munchies</h2>
        </header>

        <section>
          <%= form_tag('/recipes', method: :get) do %>
            <%= text_field_tag(:q, nil, placeholder: 'Search for recipes here!', class:"round-border") %>
            <%= submit_tag("Munchie!", class:"button round-border") %>
          <% end %>
        </section>
      </div>

    </section>
  </header>

  <section class="align-center">
    <header>
      <h2 class="results-styling">RESULTS FOR: <%= @search_request %></h2>
    </header>

    <div class="row">
      <% if @recipes %>
        <% @recipes.each do |recipe| %>
            <div class="small-12 medium-6 large-3 columns thumbnail bg-white">
            <%= link_to recipe_path(recipe.uri_id) do %>
              <%= image_tag(recipe.image_url, class:"full-image") %>
            <% end %>
            <p class="name-styling">
              <%= recipe.label %>
            </p>
          </div>
        <% end %>

      <% else %>

        <div>
          <h1>There are no recipe hits for your request!</h1>
        </div>

      <% end %>
    </div>
  </section>

  <section class="align-center">
    <%= will_paginate @recipes %>
  </section>

</main>
