<h1>Index</h1>

<%= render partial: "form" %>

<% if @recipes != nil %>
    <em><p> Results for <%= params[:search] %></p></em>
    <h2>Recipes</h2>
    <ul>
      <% @recipes.each do |recipe| %>
      <li>
        <%= image_tag recipe.image %>
        <%= link_to recipe.label, recipe_path(recipe) %>
      </li>
      <% end %>
    </ul>

    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @recipes%>
      </div>
      <%= will_paginate @recipes, :container => false %>
    </div>

  <%else  %>
    <p>Search for a recipe!</p>
<% end %>
