<h2>Results for "<%= params[:ingredient] %>"</h2>

<% if @recipes %>
  <p>
    <%= "#{number_with_delimiter(@count)} Results" %>
  </p>
  <p>
  <%= @recipes.length %>
  </p>
<% end %>

<ul>
  <%= @recipes.each do |recipe| %>
  <li>
    <%= link_to image_tag(recipe.image, alt: recipe.name), recipe_path(recipe.name, uri: recipe.uri) %>

    <p>
      <%= link_to recipe.name, recipe_path(recipe.name, uri: recipe.uri) %>
    </p>
  </li>
  <% end %>
</ul>
