<section class="row">
  <h1>Search / <%=params[:search] %></h1>
</section>
<section class="row">
  <% @recipes.each do |recipe| %>
  <%= link_to recipe_path(format_uri(recipe.uri)) do %>
  <article class="recipe-card">
    <figure>
      <%= image_tag recipe.image, alt:"#{recipe.label}" %>
    </figure>
    <p><%= recipe.label.titleize %></p>
  </article>
  <% end %>
  <% end %>
  <div class="paginate">
    <%= will_paginate(@recipes) %>
  </div>
</section>
