<header>
  <section class="head-search">
    <h2><%= link_to("Recipoogle", root_path, class: "head-search") %>
    <%= render partial: "form" %></h2>
  </section>
</header>


<section class="row results">
  <% if @recipes != nil %>
      <h2 class="results">Recipe Results for "<%= params[:search] %>"</h2>

      <% @recipes.each do |recipe| %>

        <article class = "columns small-10 medium-5 large-3 text-center card">
          <%= image_tag recipe.image %>
          <%= link_to recipe.label, recipe_path(recipe.label, uri: recipe.uri) %>
        </article>

      <% end %>
  <% end %>
</section>

<section class="pages">
  <div class="digg_pagination">

    <div class="page_info">
      <%= page_entries_info @recipes%>
    </div>

    <%= will_paginate @recipes, :container => false %>
  </div>
</section>
