
<section class="row search-header">
  <h1>Search / </h1><h1>  <%=params[:search] %></h1>
</section>
<section class="row all-recipes">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(format_uri(recipe.uri)) do %>
        <div class="card">
          <%= image_tag recipe.image ? recipe.image : 'restaurant-small.png', alt:"#{recipe.label}" %>
          <div class="card-body">
            <h2><%= recipe.label.titleize %></h2>
            <p><%=recipe.source%></p>
          </div>
      </div>
    <% end %>
  <% end %>
  <div class="paginate">
    <%= will_paginate(@recipes) %>
  </div>
</section>
