
<%= form_tag recipes_path, method: :get do %>
  <%= label_tag(:term, "Enter term to search for") %>
  <%= text_field_tag(:term) %>
  <%= submit_tag("Send") %>
<% end %>

<section class="row">
    <% @recipes.each do |recipe| %>
    <article class = "columns small-10 medium-5 large-3 margin-3-col">
      <h3><%= link_to "#{recipe.label}", recipe_path(recipe.label, uri: recipe.uri ) %></h3>
      <img src = "<%= recipe.image %>", alt = "<%=recipe.label %>"/>
      </article>
    <% end %>

</section>
