<section id="recipe-list" class="row">

  <%= form_tag(recipes_path, :method => "get" ) do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search More Recipes" %>
      <%= submit_tag ("Search") %>
  <% end %>

  <h2><%= params[:search].capitalize%> List</h2>
  <div class="small-12 end medium-6 large-4 columns ">

    <% @results_page.each do |recipe| %>
        <%= image_tag recipe.image, alt: "foods" %>
        <p>
          <%= link_to recipe.label, recipe_show_path(recipe.label, uri: recipe.uri) %>
       </p>
    <% end %>
  </div>

    <%= will_paginate @results_page %>


</section>
