<%= render partial: "layouts/search_bar" %>

<h1> Recipes </h1>
<h2> Results for "<%= params[:q] %>" </h2>
<% @results.each do |result| %>
<section>
  <figure>
    <%= link_to(image_tag(result[:image], alt: "#{result[:label]}"), show_recipe_path(result[:uri])) %>
    <figcaption> <%= result[:label]%> </figcaption>
  </figure>
</section>
<% end %>

<nav>
  <p>  <
    <%= link_to "1", get_recipes_path({q: params[:q], from: 0}) %>
    <%= link_to "2", get_recipes_path({q: params[:q], from: 10}) %>
    <%= link_to "3", get_recipes_path({q: params[:q], from: 20}) %>
    <%= link_to "4", get_recipes_path({q: params[:q], from: 30}) %>
    <%= link_to "5", get_recipes_path({q: params[:q], from: 40}) %>
    > </p>
</nav>
