<%= render partial: "form" %>

<!-- <h2>Params:</h2>
<%= params %> -->

<% unless params[:keywords] == nil %>
  <h1>Results for <%= @keywords %> </h1>
<%end%>

<h2>Number of Recipes: <%=@number_of_recipes%> </h2>

<%if @number_of_recipes != 0 && @number_of_recipes != nil%>
  <% @recipes.each do |recipe| %>
    <ul>
      <li><%=image_tag recipe.image%></li>
      <li><%=link_to(recipe.label, recipe_show_path(recipe.find_recipe_id))%></li>
    </ul>
  <%end%>



<%else%>
  <h3>No recipes are available for those search terms</h3>
<%end%>
