<section class="search_bar column small-12">
  <h1 class="center">Find Your ReciPEACE</h1>
  <%= form_tag(recipes_path, method: :get) do %>
  <%=text_field_tag :search %>
  <%=submit_tag "Search", class:"button column small-12"%>
  <% end %>
</section>

<section class="featured row">
  <article class="featured_picture column center large-6 medium-6 small-12">
    <%= image_tag @recipeace.image %>
  </article>
  <article class="featured_info column center large-6 medium-6 small-12">
    <h2><%= @recipeace.name %></h2>
    <%= @recipeace.ingredients %>
  </article>
</section>
