<h2>Params:</h2>
<%= params %>

<h2><%= @recipe.label %></h2>
<h3>By <%=recipe.source%> </h3>
<%=image_tag recipe.image%>
<h4>Ingredients</h4>
<ul>
  <li><%=recipe.ingredientLines%></li>
</ul>
<ul>
  <li><%=recipe.dietLabels%></li>
</ul>
