<section class="row info">
  <h2><%= @recipe.name %></h2>
  <small><p>De <%= link_to @recipe.source, @recipe.orig_url, target: "_blank" %></p></small>
  <p>
    <%# "Serves #{@recipe.servings.to_i}" %>
  </p>
  <p>
    <%# "#{@recipe.calories_per_serving} Calories" %>
  </p>
</section>

<div class="ingredient-wrapper row">
  <%= image_tag(@recipe.image, alt: @recipe.name, class: "columns small-12 large-5") %>

  <section class="ingredients columns small-12 large-5 end">

    <h3>Ingredientes</h3>
    <%# @recipe.ingredients %>
    <%# @recipe.ingredients.length %>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
      <li>
        <%= ingredient %>
      </li>
      <% end %>
    </ul>
  </section>

</div>

<div class="diet-info row">
  <div class="columns small-12 large-5 end">
    <section class="diet-labels">
      <h3>Etiquetas Dietéticas</h3>

      <ul>
        <% @recipe.diet_labels.each do |label| %>
        <li>
          <%= label %>
        </li>
        <% end %>
      </ul>
    </section>

    <section class="health-labels">
      <h3>Etiquetas de Salud</h3>

      <ul>
        <% @recipe.health_labels.each do |label| %>
        <li>
          <%= label %>
        </li>
        <% end %>
      </ul>
    </section>
  </div>

  <section class="nutrition columns small-12 large-5 end">
    <h3>Información Nutricional</h4>

    <p><%= "#{@recipe.calories_per_serving} calorías" %></p>
    <p><%= "#{@recipe.servings.to_i} porciónes" %></p>
    <details>
      <summary>
        Cantidades por porción
      </summary>
      <table>
        <thead>
          <tr>
            <th>Nutriente</th>
            <th class="qtys">Cantidad</th>
            <th>% del Valor Diario</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe.nutrition.each do |item, info| %>
          <tr>
            <% @size = @recipe.servings == nil || @recipe.servings == 0 ? 1 : @recipe.servings %>
            <td><%= "#{info["label"]}" %></td>
            <td class="qtys"><%= "#{(info["quantity"] / @size).round} #{info["unit"]}" %></td>
            <td class="daily-vals">
              <% if @recipe.daily[item] %>
                <%= "#{(@recipe.daily[item]["quantity"] / @size).round}" %>
              <% else %>
                <%= "-" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </details>
  </section>
</div>
