
<%= render partial: "layouts/search_bar" %>

<h1> <%= @recipe[0]["label"] %> </h1>
<h2> By: <%= @recipe[0]["source"]%></h2>

<p> <%= link_to 'Original Recipe', @recipe[0]["url"]%> </p>

<figure>
  <img src= "<%= @recipe[0]["image"]%>" alt = "Picture of <%= @recipe[0]["label"] %>" />
</figure>

<h3> Ingredients </h3>
<ul>
  <% @recipe[0]["ingredientLines"].each do |item| %>
    <li> <%= item %> </li>
  <% end %>
</ul>

<h3> Dietary Information </h3>
<ul>
  <% @recipe[0]["totalNutrients"].each do |item|  %>
    <li> <%= item[1]["label"] + "  #{item[1]["quantity"]}"+item[1]["unit"] %> </li>
  <% end %>
</ul>
