<h1>You Gonna Eat Dat <%= @recipe.name %>?</h1>

<section class="recipe_show">
<h2><%=@recipe.name%></h2>
<ul>
  <li>
    <%= image_tag @recipe.image, alt:"#{@recipe.name} image" %>
  </li>
  <li>
    Ingredients
    <ul>
      <% @recipe.ingredients.each do |line| %>
        <li>
          <%= line %>
        </li>
      <%end%>
    </ul>
  </li>
  <li>
    Dietary Info:
    <ul>
      <% @recipe.dietary.each do |line| %>
        <li>
          <%= line %>
        </li>
      <% end %>
    </ul>
  </li>
  <li>
    <%= link_to "More", @recipe.link %>
  </li>
</ul>

</section>
