<nav>
  <h2>Mangia</h2>
    <%= form_tag(root_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, @search, placeholder: "Search Recipes" %>
    <%= submit_tag "Search", class: "button success" %>
  <% end %>
</nav>

<h2><%= @recipe.name %></h2>

<%= image_tag("#{@recipe.image}", :alt => "#{@recipe.name} photo") %>

<div>
<%= link_to "Go to Original Recipe", @recipe.url, target: "_blank" %>
</div>

<div><%= "Servings per recipe: #{@recipe.servings}" %></div>

<div>
  <h3>Ingredients</h3>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
</div>

<!-- total_nutrients : dietary information  -->
