<h1 class="recipe-title"><%= @recipe.title %></h1>

  <span class="recipe-image"><%= image_tag(@recipe.image, alt: "#{@recipe.title}") %></span>

  <section class="ingredients">
    <h3>Ingredients</h3>
    <ul class="ingredient-info">
      <% @recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
      <% end %>
    </ul>
  </section>

  <section class="dietary">
    <h3>Dietary Information</h3>
    <ul class="dietary-info">
      <%= @recipe.dietary %>
    </ul>
  </section>
</div>

<div class="recipe-link">
  <%= link_to "Click to get the full recipe for #{@recipe.title} ", @recipe.link, target: :_blank%>
</div>
