<h2><%= @recipe.name %></h2>
<h3>By: <%= link_to @recipe.source, @recipe.url %></h3>

<div class='show_info'>
  <%= image_tag @recipe.image, class:'columns small-12 large-5' %>

  <ul class='columns small-12 large-5'>
    <% @recipe.ingredients.each do |ingredient| %>
    <li>
      <%= ingredient %>
    </li>
    <% end %>
  </ul>

<% if @recipe.diet_labels || @recipe.health_labels %>
<section>  
  <h4>Dietary Labels</h4>

  <ul>
    <% @recipe.diet_labels.each do |diet| %>
    <li>
      <%= diet %>
    </li>
    <% end %>
    <% @recipe.health_labels.each do |health| %>
    <li>
      <%= health %>
    </li>
    <% end %>
  </ul>
</section>
<% end %>
</div>
