<h2><%= @recipe.label %></h2>
<img src="<%=@recipe.image%>" alt="<%=@recipe.label%>">
<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li>
    <%=ingredient%>
  </li>
  <% end %>
</ul>
<% if @recipe.diet_labels.length > 0 %><h3>Diet Tags:</h3><%end%>
<% if @recipe.diet_labels.length > 0 %>
  <ul>
    <% @recipe.diet_labels.each do |label| %>
    <li>
      <%=label%>
    </li>
  <%end%>
  </ul>
<%end%>

<% if @recipe.health_labels.length > 0 %><h3>Health Tags:</h3><%end%>
<% if @recipe.health_labels.length > 0 %>
  <ul>
    <% @recipe.health_labels.each do |label| %>
    <li>
      <%=label%>
    </li>
    <%end%>
  </ul>
<%end%>

<h3>See Full Recipe at <%=link_to @recipe.source, @recipe.url%></h3>
