<%= render partial: "form" %>

<h2><%= @recipe.label %></h2>
<h3>By <%=@recipe.source%> </h3>
<%=image_tag @recipe.image%>
<h4>Ingredients</h4>

<ul><%@recipe.ingredientLines.each do |ingredient_line|%>
  <li><%=ingredient_line%></li>
  <%end%>
</ul>

<h4>Dietary Information</h4>
<%if @recipe.dietLabels.length == 0%>
  <p>No available dietary information.</p>
<%else%>
<ul><%@recipe.dietLabels.each do |diet_label|%>
  <li><%=diet_label%></li>
  <%end%>
</ul>
<%end%>
