<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>


<ul>


<li><%= @recipe.label %></li>
<li><%= @recipe.ingredientLines %></li>
<li><%= @recipe.image %></li>
<li><%= @recipe.url %></li>
<li><%= @recipe.source %></li>
<li><%= @recipe.ingredients %></li>
<li><%= @recipe.uri %></li>

</ul>
