<h1><a href="<%= @recipe.url%>"target="_blank"> <%=@recipe.label %></a></h1>
<h4>By <%= @recipe.source %></h4>


<img src=<%= @recipe.image %>>



<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient["text"] %></li>
  <% end %>
</ul>


<h3>Dietary Labels</h3>
<ul>
  <% @recipe.dietLabels.each do |label| %>
  <li><%= label %></li>
  <% end %>
</ul>
