<section class = "row margin-top padding-top text-center undershadow">
  <h2><%= @recipe.name %></h2>
  <h3 class = "button hollow"><%= link_to "See full recipe", @recipe.url %></h3>
</section>
<section class = "row">
  <img class = "small-10 small-offset-1 large-4 large-offset-1" src="<%= @recipe.image %>", alt = "<%= @recipe.name %>">
  <section class = "columns small-10 large-6 text-center">
    <h3 class = "undershadow"><%= @recipe.ingredients.length %> Ingredients</h3>
    <ul class="no-bullet padding-top">
      <% @recipe.ingredients.each do |ingredient| %>
        <li class="larger-font"><%= ingredient %></li>
      <% end %>
    </ul>
  </section>
</section class = "row">
<h3 class = "columns large-6 large-offset-3 undershadow text-center">Nutrition: <%= number_with_precision(@recipe.calories, precision: 2) %> calories/serving</h3>
<table class="sixty-width">
  <% @recipe.totalNutrients.values.each do |hash|%>
  <tr>
    <td><%= hash["label"] %></td>
    <td><%= number_with_precision(hash["quantity"], precision: 2) %> <%= hash["unit"] %></td>
  </tr>
  <% end %>
</table>
