<section class="show-page wrapper">
  <h3><%= @recipe.label %></h3>
  <h5>By <%= link_to @recipe.source %></h5>

  <section class="row">
    <div class="show-image small-12 medium-6 large-6 columns">
      <%= image_tag(@recipe.image, alt:@recipe.label) %>
    </div>

    <div class="small-12 medium-6 large-6 columns">
      <h6><strong>Ingredients</strong></h6>
      <ul>
        <% @recipe.ingredients_text.each do |ingred| %>
          <li><%= ingred %></li>
        <% end %>
      </ul>
    </div>
  </section>

  <section>
    <h6 class="health-labels"><strong>Health Labels</strong></h6>
    <ul>
      <% @recipe.health_labels.each do |labels| %>
        <li><%= labels %></li>
      <% end %>
    </ul>
  </section>
  <%#= link_to "Back to Search page", root_path %>
</section>
