<h2><%= @recipe.name %></h2>

<%= image_tag @recipe.image %>

<p>Find the original recipe at: <%= link_to @recipe.url, target: :_blank %></p>

<h4>Ingredients</h4>

<%# TODO: ingredientLines is an array %>
<%= @recipe.ingredient_lines %>

<%= @recipe.calories %>

<%# TODO: totalNutrients is a hash of hashes %>
<%= @recipe.total_nutrients %>
