<section class="row">
<h1><%= @recipe.label %></h1>
<%= image_tag @recipe.image, alt:"#{@recipe.label}" %>
<%= link_to "favorite recipe", favorite_path(format_uri(@recipe.uri)), class:'button'%>
</section>
<section class="row">
<dl>
  <dt>Yield</dt>
  <dd><%= format_number(@recipe.yield) %></dd>
  <dt>Calories</dt>
  <dd><%= format_number(@recipe.calories / @recipe.yield) %> kCals</dd>
  <dt>Source</dt>
  <dd><%= link_to @recipe.source, @recipe.url %></dd>
</dl>
<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |line| %>
  <li>
    <%= line %>
  </li>
  <% end %>
</ul>
<%= link_to "Instructions", @recipe.url, class:'button'%>

<table>
  <tbody>
    <% @recipe.dietary_info.each do |info| %>
    <tr>
      <td>
        <%= info["label"]%>
      </td>
      <td>
        <%= "#{info["total"].round(1)}#{info["unit"]}" %>
      </td>
      <td>
        <%= info["daily"].round(2) %>%
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</section>
<section class="row">
<% @recipe.health_labels.each do |label| %>
<%= label %>
<% end %>
</section>
