<h1> <%= @recipe[0]["label"] %> Recipe details </h1>
<h2> <%= link_to 'Original Recipe', @recipe[0]["url"]%> </h2>

<h3> Ingredients </h3>
<ul>
  <%= @recipe[0]["ingredientLines"].each do |item| %>
    <li> <%= item %> </li>
  <% end %>
</ul>

<h3> Dietary Information </h3>
<ul>
  <% @recipe[0]["totalNutrients"].each do |item|  %>
    <li> <%= item[1]["label"] + "  #{item[1]["quantity"]}"+item[1]["unit"] %> </li>
  <% end %>
</ul>

<p>
  <img src= "<%= @recipe[0]["image"]%>" alt = "Picture of <%= @recipe[0]["label"] %>" />
</p>
