<section class="row info">
  <h2><%= @recipe.name %></h2>
  <small>By <%= link_to @recipe.source, @recipe.orig_url, target: "_blank" %></small>
  <p>
    <%= "Serves #{@recipe.servings.to_i}" %>
  </p>
  <p>
    <%= "#{@recipe.calories_per_serving} Calories" %>
  </p>
</section>

<div class="ingredient-wrapper row">
  <%= image_tag(@recipe.image, alt: @recipe.name, class: "columns small-12 large-5") %>

  <section class="ingredients columns small-12 large-5 end">

    <h3>Ingredients</h3>
    <%# @recipe.ingredients %>
    <%# @recipe.ingredients.length %>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
      <li>
        <%= ingredient %>
      </li>
      <% end %>
    </ul>
  </section>
</div>
