<h1>Show Page</h1>
<%= form_tag(recipes_path, :method => "get" ) do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search More Recipes" %>
    <%= submit_tag ("Search") %>
<% end %>
<ul>


<li>
  <%= image_tag (@recipe.image), alt: "food picture" %>
</li>
<li>
  <%= @recipe.label %>
</li>
<li>
  <%= @recipe.source %>
</li>
<li>
  <%= @recipe.yield %>
</li>
</ul>
<% @recipe.ingredients.each do |ingredient| %>
<ul>
  <li>
    <%= ingredient %>
  </li>
</ul>
<% end %>
