
<h2>
<%= @recipe.label %>
</h2>

<%= image_tag(@recipe.image, options = {alt: @recipe.label}) %>

<h3> Ingredients: </h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
    <li>
    <%= ingredient %>
    </li>
  <%end%>
</ul>


<h3> Dietary Information: </h3>
<ul>
  <% @recipe.total_nutrients.each do |info| %>
    <%if info != nil%>
    <li>
    <%="#{info["label"]}: #{info["quantity"].round(0)}#{info["unit"]}" %>
    </li>
    <%else%>
    No information available.
    <%end%>
  <%end%>
</ul>

<%= link_to "View Original", @recipe.url, target: "_blank" %>
