<h2 class="recipe-title"><%= @recipe.title %></h2>

  <section class="recipe-link">
    <%= link_to "Click to get the full recipe for #{@recipe.title} ", @recipe.link, target: :_blank%>
  </section>

  <section class="recipe-image">
    <div class="show-recipe-pic">
      <%= image_tag(@recipe.image, alt: "#{@recipe.title}") %>
    </div>
  </section>

  <section class="ingredients">
    <div class="ingredient-info">
      <h3>Ingredients</h3>
        <ul>
        <% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient %></li>
        <% end %>
      </ul>
    </div>
  </section>

  <section class="dietary">
    <div class="dietary-info">
      <h3>Dietary Information</h3>
      <ul>
        <%= @recipe.dietary %>
      </ul>
    </div>
  </section>
