<h1><%= link_to "#{@recipe.name}", @recipe.url, target: :_blank  %></h1>

<img src="<%= @recipe.image %>", alt="<%= @recipe.name %>"/>
<h4>Ingredients</h4>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li>
    <%= ingredient %>
  </li>
  <% end %>
</ul>

<% if @recipe.diet || @recipe.health%>
<h4>Dietary Information</h4>
<ul>
  <% @recipe.diet.each do |label| %>
  <li>
    <%= label %>
  </li>
  <% end %>
  <% @recipe.health.each do |label| %>
  <li>
    <%= label %>
  </li>
</ul>
<% end %>
<% end %>
