<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>


<h3>
  <%= @recipe.name %>
</h3>
<h4>By: <%= link_to @recipe.source, @recipe.url %></h4>


<section class="row">
  <div class="columns small-12 large-4">
    <%= image_tag("#{@recipe.image}", :alt => "#{@recipe.name} photo") %>

  </div>
  <div class="columns small-12 large-8">

  Ingredients
  <ul>

  <% @recipe.ingredientsLine.each do |ingredient| %>
    <li>
      <%= ingredient %>
    </li>
  <% end %>
  </ul>
  </div>
</section>

<section>
  Dietary Labels
  <ul>
    <% @recipe.dietLabels.each do |labels| %>
      <li>
        <%= labels %>
      </li>
      <% end %>
  </ul>
</section>
