<h2><%= @recipe.name %></h2>
<h3>By: <%= link_to @recipe.source, @recipe.url %></h3>

<div class='show_info'>
  <%= image_tag @recipe.image, class:'columns small-12 large-5' %>

  <section class='columns small-12 large-6'>
    <h4>Ingredients</h4>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
      <li>
        <%= ingredient %>
      </li>
      <% end %>
    </ul>
  </section>

<% if @recipe.diet_labels || @recipe.health_labels %>
<section class='columns small-12'>
  <h4>Dietary Labels</h4>

  <ul>
    <% @recipe.diet_labels.each do |diet| %>
    <li>
      <%= diet %>
    </li>
    <% end %>
    <% @recipe.health_labels.each do |health| %>
    <li>
      <%= health %>
    </li>
    <% end %>
  </ul>
</section>
<% end %>
</div>
