<h2><%= @recipe.name %></h2>

<img src="<%= @recipe.image %>", alt="<%= @recipe.name %>"/>

<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li>
    <%= ingredient %>
  </li>
  <% end %>
</ul>

<% if @recipe.diet_labels %>
<ul>
  <% @recipe.diet_labels.each do |diet| %>
  <li>
    <%= diet %>
  </li>
  <% end %>
</ul>
<% end %>

<%= link_to "See Recipe", @recipe.url %>
