<h1><%= @recipe.name %></h1>
<%= image_tag @recipe.image %>
<p>Source: <%= link_to @recipe.source, @recipe.url, target: :_blank %></p>

<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>

<h4>Dietary Information</h4>
<ul>
  <% @recipe.diet_labels.each do |diet| %>
  <li><%= diet %></li>
  <% end %>
</ul>

<h4>Allergen Information</h4>
<ul>
  <% @recipe.health_labels.each do |health| %>
  <li><%= health %></li>
  <% end %>
</ul<>

<h4>Nutrition Information</h4>
<table>
  <% @recipe.nutrition.each do |nutrient_hash| %>
  <tr>
    <td><%= nutrient_hash[1]["label"] %></td>
    <td><%= nutrient_hash[1]["quantity"].round %><%= nutrient_hash[1]["unit"] %></td>
  </tr>
  <% end %>
</table>
