<section>
  <%= render partial: "header" %>
  <div class="recipe_detail">
    <h3><%= link_to @recipe.title, @recipe.url %></h3>
    <%= image_tag @recipe.image %>
    <h4>By: <%= link_to @recipe.source, @recipe.url%></h4>
  </div>
  <div class="row">
    <section class="large-6 medium-6 small-12 columns" id="ingredients">
      <h4> Ingredients: </h4>
      <ul>
        <% @recipe.ingredient_lines.each do |ingredient| %>
          <li><%= ingredient %> </li>
        <% end %>
      </ul>


      <ul>
        <%if @recipe.diet_labels && !@recipe.diet_labels.empty? %>
          <h4> Dietary Labels: </h4>
          <% @recipe.diet_labels.each do |diet_label| %>
            <li><%= diet_label %> </li>
          <% end %>
      </ul>
      <% end %>
    </section>
  </div>
</section>
