<% if @recipe %>
  <h1 class="show_h1"><%= @recipe.name %></h1>
<section class="recipe_show row">
  <article class="recipe_show_img column center large-6 medium-6 small-12">
    <%= image_tag @recipe.image, alt:"#{@recipe.name} image" %>
  </article>
  <article class="recipe_show_info column center large-6 medium-6 small-12">
    <ul>
      <li>
        <h4>Ingredients:</h4>
        <ul>
          <% @recipe.ingredients.each do |line| %>
          <li>
            <%= line %>
          </li>
          <%end%>
        </ul>
      </li>
      <li>
        <h4>Dietary Info:</h4>
        <ul>
          <% @recipe.dietary.each do |line| %>
          <li>
            <%= line %>
          </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <%end%>
  </arcile>
  <article class="links">
    <%= link_to "More", @recipe.link, class:"button large-8 medium-12 small-12"%>
    <%= link_to "Back to \"#{@search}\" results", recipes_path(search: @search), class:"button large-8 medium-12 small-12"%>
  </article>
</section>
