<% if @recipe %>
<section class="recipe_show row">
  <h1><%= @recipe.name %></h1>
  <article class="recipe_show_img column center large-6 small-12">
    <%= image_tag @recipe.image, alt:"#{@recipe.name} image" %>
  </article>
  <article class="recipe_show_info column center large-6 small-12">
    <ul>
      <li>
        Ingredients
        <ul>
          <% @recipe.ingredients.each do |line| %>
          <li>
            <%= line %>
          </li>
          <%end%>
        </ul>
      </li>
      <li>
        Dietary Info:
        <ul>
          <% @recipe.dietary.each do |line| %>
          <li>
            <%= line %>
          </li>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to "More", @recipe.link %>
      </li>
    </ul>
    <%end%>
  </arcile>
</section>
