<main>
  <header class="row">
    <section class="small-12 small-centered medium-8 medium-centered large-6 large-centered columns border-bottom">

      <div class="search-padding">
        <header>
          <h2 class="font">Munchies</h2>
        </header>

        <section>
          <%= form_tag('/recipes', method: :get) do %>
            <%= text_field_tag(:q, nil, placeholder: 'Search for recipes here!', class:"round-border") %>
            <%= submit_tag("Munchie!", class:"button round-border") %>
          <% end %>
        </section>
      </div>

    </section>
  </header>

  <article class="row">

    <div class="small-12 large-6 columns border">
      <%= image_tag(@recipe.image_url, class:"full-image") %>
    </div>

    <section class="small-12 large-6 columns border font">
      <h2><%= @recipe.label %></h2>
      <h3>Recipe by: <%= link_to @recipe.source, @recipe.source_url %></h3>
    </section>

    <section class="small-12 large 6-columns border">
      <header class="font">
        <h2>Ingredients</h2>
      </header>

      <div>
        <ul>
          <% @recipe.ingredient_lines.each do |line| %>
            <li>
              <%= line %>
            </li>
          <% end %>
        </ul>
      </div>
    </section>

    <section class="small-12 large 6-columns border">
      <header>
        <h2>Nutrition Facts</h2>
      </header>
    </section>

  </article>
</main>
