

<!-- <span>Results</span>
<ul>
  <li><%= @recipe.name %></li>
  <li><%= @recipe.image %></li>
  <li><%= @recipe.source %></li>
  <li><%= @recipe.url %></li>
  <li><% @recipe.diet.each do |d| %>
    <ul>
      <li><%= d %></li>
    </ul>
  <% end %></li>
  <li><% @recipe.health.each do |h| %>
    <ul>
      <li><%= h %></li>
    </ul>
  <% end %></li>
</ul> -->
