<div class="row">
  <div class="medium-6 columns">
    <%= image_tag(@recipe.image) %>
  </div>
  <div class="medium-6 columns">
    <ul>
      <li><strong><%= @recipe.name %></strong></li>
      <li><%= link_to @recipe.source, @recipe.url %></li>
      <li>
        <li>
          <% @recipe.ingredients.each do |i| %>
            <ul>
              <li><%= i %></li>
            </ul>
          <% end %>
        </li>
      </li>
    </ul>
  </div>
</div>
<div class="row columns">
  <% @recipe.diet.each do |d| %>
    <ul>
      <li><%= d %></li>
    </ul>
  <% end %>
  <% @recipe.health.each do |h| %>
    <ul>
      <li><%= h %></li>
    </ul>
  <% end %>
</div>

<!-- <span>Results</span>
<ul>
  <li><%= @recipe.name %></li>
  <li><%= @recipe.image %></li>
  <li><%= @recipe.source %></li>
  <li><%= @recipe.url %></li>
  <li><% @recipe.diet.each do |d| %>
    <ul>
      <li><%= d %></li>
    </ul>
  <% end %></li>
  <li><% @recipe.health.each do |h| %>
    <ul>
      <li><%= h %></li>
    </ul>
  <% end %></li>
</ul> -->
