<h1><%= params[:id] %></h1>
<h1><%= params[:label] %></h1>
<h1><%= params[:url] %></h1>
<h1><%= params[:ingredientLines] %></h1>
<h1><%= params[:dietLabels] %></h1>
<h1><%= params[:image] %></h1>
<h1><%= params[:source] %></h1>
