<h1><%= @recipe.label %></h1>
<%= image_tag @recipe.image, alt:"#{@recipe.label}" %>

<dl>
  <dt>Yield</dt>
  <dd><%= format_number(@recipe.yield) %></dd>
  <dt>Calories</dt>
  <dd><%= format_number(@recipe.calories / @recipe.yield) %> kCals</dd>
  <dt>Source</dt>
  <dd><%= link_to @recipe.source, @recipe.url %></dd>
</dl>
<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |line| %>
  <li>
    <%= line %>
  </li>
  <% end %>
</ul>

<% @recipe.health_labels.each do |label| %>
  <%= label %>
<% end %>
