
<h2>Results for <%=@query%> </h2>
<ul>
<% @recipes.each do |recipe| %>
  <li>
    <figure>
      <img src="<%=recipe.image%>"/>
      <figcaption>
      <li>
        <%=link_to recipe.label, recipe_path(recipe.uri)%>
      </li>
      <li>
        ingredients: <%=recipe.ingredients %>
      </li>
      <li>
       link to original recipe <%=recipe.recipe_url%>
      </li>
      <li>
        dietary: <%=recipe.dietary%>
      </li>
      <li>
        source: <%=recipe.source%>
      </li>
      <li>
        uri: <%=recipe.uri%>
      </li>
      </figcaption>
      </figure>
  </li>
</ul>
<%end %>
