<div class="row search-header">
  <div class="columns large-12 medium-12 small-12 x-small-12">
    
  </div>
</div>

<div class="row">
  <div class="large-11 large-offset-1 medium-11 medium-offset-1 small-2 x-small-1 columns">
    <%= image_tag("http://via.placeholder.com/200x150") %>
    <%= image_tag("http://via.placeholder.com/200x150") %>
    <%= image_tag("http://via.placeholder.com/200x150") %>
    <%= image_tag("http://via.placeholder.com/200x150") %>
    <%= image_tag("http://via.placeholder.com/200x150") %>
    <%= image_tag("http://via.placeholder.com/200x150") %>
  </div>
</div>



<!--
<% @recipes.each do |recipe| %>
  <ul>
    <%= recipe.name %>
    <li>
      <%= link_to image_tag(recipe.image), recipe_path(recipe.uri) %>
    </li>
  </ul>
<% end %>
-->
