<%#= render partial: "form2" %>

<header class="row">
  <div class="columns small-12 small-centered inline">
    <h1 id="menu"><%= link_to '"MENU"', root_path %></h1>
  </div>
  <nav class="columns small-12 small-centered inline">
      <p class="inline-li">
        <%= link_to "CATEGORY", "#", class: "" %>
        <%= link_to "CATEGORY", "#", class: "" %>
        <%= link_to "CATEGORY", "#", class: "" %>
        <%= link_to "CATEGORY", "#", class: "" %>
        <%= link_to "CATEGORY", "#", class: "" %>
        <%= link_to "CATEGORY", "#", class: "" %>
      </p>
  </nav>
</header>

<section class="row">
  <div class="large-11 large-offset-1 medium-11 medium-offset-1 small-12 columns"> <!-- figure out centering for small -->
    <% @recipes.each do |recipe| %>
      <%= link_to image_tag(recipe.image, class: "results-thumbnail", alt: recipe.name), recipe_path(recipe.uri) %>
    <% end %>
  </div>
</section>

<nav>
  <%= paginate @recipes %>
</nav>


<!--
<% @recipes.each do |recipe| %>
  <ul>
    <%= recipe.name %>
    <li>
      <%= link_to image_tag(recipe.image, class: "thumbnail", alt: recipe.name), recipe_path(recipe.uri) %>
    </li>
  </ul>
<% end %>
-->
