<%#= render partial: "form2" %>

<header class="row">
  <%= render partial: 'header' %>
</header>

<section class="row">
  <div class="large-11 large-offset-1 medium-11 medium-offset-1 small-12 columns"> <!-- figure out centering for small -->
    <% @recipes.each do |recipe| %>
      <%= link_to image_tag(recipe.image, class: "result-img", alt: recipe.name), recipe_path(recipe.uri) %>
    <% end %>
  </div>
</section>

<% if flash[:result_text] %>
  <section class="row status <%= flash[:status] %>">
    <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:result_text] %></h3>
  </section>
<% end %>

<nav class="page">
  <% if @previous_page %>
    <%= link_to 'previous', @previous_page %>
  <% end %>
  <% if @next_page %>
    <%= link_to 'next', @next_page %>
  <% end %>
</nav>


<!--
<% @recipes.each do |recipe| %>
  <ul>
    <%= recipe.name %>
    <li>
      <%= link_to image_tag(recipe.image, class: "thumbnail", alt: recipe.name), recipe_path(recipe.uri) %>
    </li>
  </ul>
<% end %>
-->
