<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if session[:recent_searches] %>
      <ul>
        <%session[:recent_searches].each do |search, image| %>
        <li>
          <%= link_to search, recipes_path(search: search)%>
        </li>
        <%end%>
      </ul>
      <%end%>
  </body>
</html>
