<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path, class:"button small-12 large-6"%>
      <%= link_to "Login", root_path, class:"button small-12 large-6 float-right"%>
    </nav>

    <main class="center">
        <%= yield %>
    </main>

    <footer class="center small-12 large-12">
      <p>
        Powered By <a href="https://www.edamam.com/"><img src="assets/edamam.png", alt="Edamam", width="60px" />
      </p>
    </footer>
  </body>
</html>
