<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header class="page-header row">
      <nav class="columns small-12">
        stuff
      </nav>
    </header>

    <%= yield %>


    <footer>

      <h3>Powered by Edamam</h3>
    </footer>
  </body>
</html>
