<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "メンユー" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

  </body>
  <footer class="footer">
    <span class="footer">&copy 2017 <%= link_to "Sara Frandsen", "http://www.github.com/sarafrandsen" %> | Powered by <%= link_to "Edamam", "https://www.edamam.com/" %></span>
</html>
