<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <% unless controller_name == "home" %>
      <nav>
        <%= form_tag recipes_path, method: :get do %>
          <%= label_tag(:search, "Ingredient") %>
          <%= text_field_tag(:search) %>
          <%= submit_tag("Send") %>
        <% end %>
      </nav>
  <% end %>

    <%= yield %>
  </body>
</html>
