<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class = 'header text-center'>
      <h1>Munchers</h1>
      <%= form_tag recipes_path, method: :get do %>
        <div class="search sixty-width">
          <%= text_field_tag(:term, nil, placeholder: "What do you feel like munching?") %>
        </div>
        <%= submit_tag("Send", class: "button", style: "display: none;") %>
      <% end %>
    </header>
    <%= yield %>
  </body>
  <footer class="text-center">
    <h4>Powered By Edamam</h4>
  </footer>

</html>
