<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <title><%= content_for?(:title) ? yield(:title) : "Nom Nom Nom!" %></title>
    <%= favicon_link_tag 'grapebeard.jpg' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
        <%= link_to image_tag('Nom.png'), root_path, class: "logo" %>
        <%= form_tag(recipes_index_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search_word, params[:search_word], placeholder: "Search Recipes" %>
        <%= submit_tag "Gimme the Recipes!", :name => nil %>
        <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="footer">
      <p class="copyright">
        &copy; 2017 - Website Created By: <%= link_to "Stef Gunderson", "https://github.com/sesameseeds/" %>, keeping it simple. </p>
        <p class ="edamam">
          Powered By <%= link_to "Edamam", "https://www.edamam.com/" %>
        </p>
      </footer>
  </body>
</html>
