<!DOCTYPE html>
<html>
<head>
  <title>hungry?</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Rozha+One|Oswald:300,400,600|Permanent+Marker" rel="stylesheet">
  <%#favicon_link_tag 'cannabis.png', type: 'image/png'%>
</head>

<body>
  <header>
    <section class="logo">
      <%= link_to root_path do %>
      <h1 class = "letter">H</h1>
      <h1>hungry?</h1>
      <%end%>
      <div class = "search">

        <%= form_tag(recipes_path, :method => "get", id: "search") do %>
        <%= text_field_tag :search, params[:search], placeholder: "ðŸ½ï¸  don't be hangry" %>
        <%# submit_tag "Search", :name => nil %>
        <% end %>
      </div>
    </section>
    <section class = 'float-right'>
      <div class="logo">
        <% if session[:user_id] %>
        <h3>
          <%= link_to "Favorites",user_path(session[:user_id]) %></h3>
          <h3>
            <%= link_to "Logout",logout_path() %></h3>

      </div>
      <% else %>
        <h3><%= link_to "Log In",'/auth/google_oauth2' %></h3>
      <% end %>

    </section>
  </header>

  <%= yield %>
    <!-- <% if session[:recent_searches] %>
    <section class="row recent-searches">
    <h3>Recent Searches</h3>
    <%session[:recent_searches].first(5).reverse.each do |search, image| %>
    <%= link_to recipes_path(search: search) do %>
    <article class="recipe-card">
      <figure>
        <%= image_tag image ? image : 'restaurant.png', alt:"#{search}" %>
      </figure>
      <p><%= search.titleize %></p>
    </article>
    <% end %>
    <%end%>

    <%end%>
  </section> -->

  <footer>
    <div class="bg">
      recipes
    </div>
    <p>
      <%= fa_icon "plug" %> by <%=link_to "edamam", "https://www.edamam.com/" %> <%= fa_icon "bolt" %>
    </p>
  </footer>
</body>
</html>
