<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Muncher" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <section class="add-transparent">
    <header>
    </header>
    <main class="api-muncher">
      <% if flash[:message] %>
      <section class="row flash">
        <div>
          <% if flash[:status] == :failure %>
          <p class="error">
            <% else %>
            <p>
              <% end %>
              <%= flash[:message] %>
            </p>
            <% if flash[:details] %>
            <ul>
              <% flash[:details].each do |field, problems| %>
              <% problems.each do |problem| %>
              <li>
                <strong><%=field %>:</strong>
                <%= problem %>
              </li>
              <% end %>
              <%end %>
            </ul>
            <% end %>
          </div>
        </section>
        <% end %>
        <%= yield %>
      </main>
      <footer>
        <p>
          Powered by Edamam
        </p>
      </footer>
    </section>
  </body>
  </html>
