<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Muncher" %></title>

  <%= favicon_link_tag 'groceries.ico' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% unless current_page?(root_path) %>
  <header>
    <h1>Muncher</h1>
    <h3>Find your flavor . . .</h3>
    <%= form_tag( '/recipes') do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
    <% end %>

  </header>
  <% end %>

  <%= yield %>

  <footer>
    <p class="credit api-credit">
      Made by Kate Spitzer | Powered by Edamam | <%= link_to "Attributions", attributions_path %>
    </p>
  </footer>
</body>
</html>
