<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "API Muncher" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
  </head>

  <body>
    <header class='header'>
      <h2><%= link_to "MUNCHER", root_path %></h2>
      <form action="<%= recipes_search_path %>" method="get">
        <%= text_field_tag :query %>
        <%= submit_tag 'Search', name: nil %>
      </form>
    </header>

    <main class='main'>
      <%= yield %>
    </main>

    <footer class='footer'>
      <p>Copyright &copy; 2017 Kee Nam</p>
      <div id="edamam-badge" data-color="dark"></div>
    </footer>

  </body>
</html>
