<!DOCTYPE html>
<html>
<head>
  <title>ReciPEACE</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav>
    <%= link_to "Home", root_path, class:"button float-left" %>
    <%= link_to "Login", root_path, class:"button float-right" %>
  </nav>
  <main>
    <%= yield %>
  </main>
</body>
</html>
