<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Search Recipes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <section class='flash'>
      <% flash.each do |name, message| %>
        <div class="<%= name %>"><%= message %></div>
      <% end %>
  </section>

  <body>
    <header>
     <nav>
       <h1> Mysterious <%= link_to image_tag('cateats.png'), root_path %> Eater </h1>
     </nav>
     </header>

  <main>


    <%= yield %>
  </main>

  <footer>
    <p><em>Powered by</em><%= image_tag("https://www.edamam.com/images/logo-site-header.png") %></p>
  </footer>

  </body>


</html>
