<!DOCTYPE html>
<html lang="en">
  <head>
    <%# favicon_link_tag 'favicon.ico' %>
    <!-- add file app/assets/images/:file -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Muncher</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <% unless current_page?(root_path) %>
      <%= render 'layouts/search' %>
      <% end %>
    </header>
    <% if flash[:message] %>
      <section class="row status <%= flash[:status] %>">
        <h3><%= flash[:status] == :failure ? "A problem occurred: " : "" %><%= flash[:message] %></h3>

      </section>
      <% end %>

    <%= yield %>

    <!-- <footer>
      this is a footer
    </footer> -->
  </body>
</html>
