<!DOCTYPE html>
<html>
<head>
  <title>Muncher</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Rozha+One|Damion|Pathway+Gothic+One" rel="stylesheet">
  <%=favicon_link_tag 'cannabis.png', type: 'image/png'%>
</head>

<body>
  <header>
    <% if session[:user_id] %>
    <%= link_to "Favorites",user_path(session[:user_id]), class: 'button' %>
    <% else %>
    <%= link_to "Log In",'/auth/google_oauth2', class: 'button' %>
    <% end %>
  </header>

  <%= yield %>
    <% if session[:recent_searches] %>
    <section class="row recent-searches">
    <h3>Recent Searches</h3>
    <%session[:recent_searches].first(5).reverse.each do |search, image| %>
    <%= link_to recipes_path(search: search) do %>
    <article class="recipe-card">
      <figure>
        <%= image_tag image ? image : 'restaurant.png', alt:"#{search}" %>
      </figure>
      <p><%= search.titleize %></p>
    </article>
    <% end %>
    <%end%>

    <%end%>
  </section>

  <footer>
    <p>
      <%= fa_icon "plug" %> by <%=link_to "edamam", "https://www.edamam.com/" %> <%= fa_icon "bolt" %>
    </p>
  </footer>
</body>
</html>
