<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:failure] %>
      <section class = "row status success">
        <% flash.each do |name, message| %>
          <h3><%= message %></h3>
        <% end %>
      </section>
    <% end  %>

    <%= yield %>

  <footer class="footer">
       <h4>
         Powered by <%= link_to "Edamam", "https://www.edamam.com/" %>
       </h4>
     </footer>
  </body>
</html>
