<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
 <h1>Muncher</h1>
    </header>
    <% if flash[:status] %>
   <section class="row status <%= flash[:status] %>">
     <h3>
       <%= flash[:message] %>
     </h3>
     <%end%>
    <%= yield %>
    <footer>
      <p>
        Powered by <a href="https://www.edamam.com/">Edamam</a>
      </p>
    </footer>
  </body>
</html>
