<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <title><%= content_for?(:title) ? yield(:title) : "Savor" %></title>
    <link href="https://fonts.googleapis.com/css?family=Bentham" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('silverware.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <header class = "site-header">
      <h1 id= "masthead"><%= link_to "savor", root_path, alt: "link to Muncher home page"%></h1>
      <section class="small-5 columns right" id = "search-bar">
        <%= form_tag(recipe_results_path, :method => "get", id: "nav-search", class: "input-group") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Recipes", class: "input-group-field" %>
          <%= submit_tag "Search", :name => nil, class: "input-group-button" %>
        <% end %>
      </section>
    </header>

    <section class = "row align-center">
      <%= yield %>

    </section>

    <footer>
      <div id="edamam-badge" data-color="transparent"></div>
    </footer>

  </body>
</html>
