<!-- /* *****************************************************
HERO
****************************************************** */ -->

<section class="hero">
    <div class="hero-section-text">
      <%= link_to root_path do %>
        <h1>!A Cocinar!</h1>
      <% end %>
    </div>
  </section>



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%###############  FLASH MESSAGES #################### %>
      <section class="row status">
        <% if flash[:status] == :not_found %>

        <h1>  <%= flash[:message]%> </h1>
        <% end %>
      </section>
    <%= yield %>

  </body>
</html>
