<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1>MUNCHERS</h1>
      <%= params %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class = "wrap row small-up-1 medium-up-3">
        <div class = "column">
          <h3>Powered By</h3>
          <img src="https://www.reimagine-food.com/wp-content/uploads/edamam.png", alt= "Edamam logo" />
        </div>
      </div>
    </footer>
  </body>

</html>
