<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="page-header">
        <div class="row">
          <h1><%= link_to "MUNCHER", root_path %></h1>
            <%= render partial: "search"%>
        </div>
      </div>
      <main>
        <main>
        <section class="row flash">
          <% if flash[:status] == :failure %>
          <% if flash[:message].present? %>
          <p><%= flash[:message] %></p>
        </section>
      <% end %>
      <%end%>
    <%= yield %>
  </main>

    <footer>
      <p>
        Powered by Edamam
      </p>
    </footer>
  </body>

</html>
