<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Nom Nom Nom!" %></title>
    <%= favicon_link_tag 'grapebeard.jpg' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    <footer class="footer">
      <p id="copyright">
      &copy; 2017 - Website Created By: <%= link_to "Stef Gunderson", "https://github.com/sesameseeds/" %>, keeping it simple. </p>
      <p>
        All Recipe Information Provided By <%= link_to "Edamam", "https://www.edamam.com/" %>
      </p>
    </footer>
  </body>
</html>
